.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
}
.ccontent {
    text-align: center;
}
.btn-num1 {
    background-color: #d00000;
    border-color: #c00000;
    color: #fff;
}
.btn-num2 {
    background-color: #8F0596;
    border-color: #7F0086;
    color: #fff;
}
.btn-num3 {
    background-color: #4759DE;
    border-color: #3749CE;
    color: #fff;
}
.btn-num4 {
    background-color: #735510;
    border-color: #634500;
    color: #fff;
}
.form {
    background-color: #eee;
    padding: 20px;
}
